@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.pagination {
  margin-top: 10px;
}

.userList {
  @include flexGridItem;

  &__btn {
    @include button;
    align-self: center;
  }
  &__btn:hover {
    @include hoverButton;
  }
  &__addUser {
    align-self: flex-end;
    margin-right: 10px;
  }
}
